@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bangers&family=Courgette&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

a{
    color: white;
    font-family: 'Acme', sans-serif;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;  
}

body{
  width:100%;
  background-color:White;
  position:relative;
  margin: auto;
}

#header-img{
  max-width: 50px;
  height: auto;
  margin-left:30px;
}

header{
    top:0px;
    width:100%;
    height:20px;
    padding:20px;
    font-size:18px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    background-color:black;
    opacity:0.9;
}

ul{
  justify-content:space-around;
  list-style:none;
  display:flex;
}

nav{
  width:100%;
}

.product-page{
    margin-top:80px;
    margin-bottom:95px;
    height: 500px;
    display:flex;
    background-color:white;
    justify-content:space-around;
    align-content:center;
}

#link{
    color:blue;
}

.product{
    max-width: 45%;
    height: auto;
}

.dot{
  height: 10px;
  width: 10px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}

.form-detail{
  background-color:white;
  justify-content:center;
  align-items:center;
}

#price{
    font-size:30px;
}

#book-now{
    font-size: 30px;
    color:#c94c4c;
}

#form{
    margin-top:30px;
    text-align:left;
    margin-bottom:20px;
}

#email{
    dispaly:block;
    padding:0.75rem 0.75rem;
    border-radius:0.15rem;
}

.btn{
    width:30%;
    padding:0.55rem;
    background: #82b74b;
    color: black;
    border-radius: 20px;
    cursor: pointer;
}

.video-page{
    background-color:Black;
    height: 1050px;
    margin-bottom:40px;
}

#part-1{
    padding:10px 0px 20px;
    display:flex;
    justify-content:space-around;
    align-content:center;
}

#part-2{
    padding: 0px 0px 10px;
    display:flex;
    justify-content:space-around;
    align-content:center;
}

#phrase1{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courgette', cursive;
    line-height:70px;
    color:#66fcf1;
}

#phrase2{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courgette', cursive;
    line-height:70px;
    color:#c3073f;
}

.video{
    object-fit:contain;
}

#footer{
    background-color:black;
    height:200px;
}

.facebook{
    max-width:20px;
    height: auto;
}

.footer-page{
  color:white;
  display:flex;
  justify-content:space-around;
}

#rights-reserved{
  text-align:center;
  color:white;
}

@media only screen and (max-width: 425px) {
  nav {
    display:none;
  }
}

@media (max-width: 425px) {
  .logo {
    margin-top: 0px;
    width: 100%;
    position: relative;
  }
  .product-page{
      flex-wrap:wrap;
  }
  .product{
      max-width: 100%;    
  }
  .product-page{
    margin-top:100px;
    margin-bottom:20px;
    height: 900px;
  }
  .video-page{
    height: 700px;
    margin-top:0px;
    margin-bottom:20px;
  }
  #footer{
    height:200px;
  }
  #part-1{
      flex-wrap:wrap;
  }
  #video{
      display:none;
  }
  #phrase1{
      font-family: 'Russo One', sans-serif;
      font-size: 20px;
      line-height:20px;
      color: #d6d4e0;
  }
  #part-2{
      flex-wrap:wrap;
  }
  #phrase2{
      display:none;
  }
  .product-info{
      padding:10px;
  }
  .btn{
    margin-top: 2.5%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 426px) {
  .btn{
    margin-top: 3%;
  }
  .video-page{
    
  }

#part-1{
    padding:0px 20px 0px;
  }

#part-2{
    padding:0px 20px 0px;
  }
  
.video{
    frameBorder:0;
  }
}